[submodule "songs/001"]
	path = songs/001
	url = https://github.com/duhovniprojekt/duhovne_pjesme_novi_sad_1966_001
[submodule "songs/002"]
	path = songs/002
	url = https://github.com/duhovniprojekt/duhovne_pjesme_novi_sad_1966_002
[submodule "songs/003"]
	path = songs/003
	url = https://github.com/duhovniprojekt/duhovne_pjesme_novi_sad_1966_003
[submodule "songs/004"]
	path = songs/004
	url = https://github.com/duhovniprojekt/duhovne_pjesme_novi_sad_1966_004
[submodule "songs/005"]
	path = songs/005
	url = https://github.com/duhovniprojekt/duhovne_pjesme_novi_sad_1966_005
[submodule "songs/006"]
	path = songs/006
	url = https://github.com/duhovniprojekt/duhovne_pjesme_novi_sad_1966_006
[submodule "songs/007"]
	path = songs/007
	url = https://github.com/duhovniprojekt/duhovne_pjesme_novi_sad_1966_007
[submodule "songs/008"]
	path = songs/008
	url = https://github.com/duhovniprojekt/duhovne_pjesme_novi_sad_1966_008
[submodule "songs/009"]
	path = songs/009
	url = https://github.com/duhovniprojekt/duhovne_pjesme_novi_sad_1966_009
[submodule "songs/010"]
	path = songs/010
	url = https://github.com/duhovniprojekt/duhovne_pjesme_novi_sad_1966_010
[submodule "songs/011"]
	path = songs/011
	url = https://github.com/duhovniprojekt/duhovne_pjesme_novi_sad_1966_011
[submodule "songs/011a"]
	path = songs/011a
	url = https://github.com/duhovniprojekt/duhovne_pjesme_novi_sad_1966_011a
[submodule "songs/012"]
	path = songs/012
	url = https://github.com/duhovniprojekt/duhovne_pjesme_novi_sad_1966_012
[submodule "songs/013"]
	path = songs/013
	url = https://github.com/duhovniprojekt/duhovne_pjesme_novi_sad_1966_013
[submodule "songs/014"]
	path = songs/014
	url = https://github.com/duhovniprojekt/duhovne_pjesme_novi_sad_1966_014
[submodule "songs/015"]
	path = songs/015
	url = https://github.com/duhovniprojekt/duhovne_pjesme_novi_sad_1966_015
[submodule "songs/016"]
	path = songs/016
	url = https://github.com/duhovniprojekt/duhovne_pjesme_novi_sad_1966_016
[submodule "songs/017"]
	path = songs/017
	url = https://github.com/duhovniprojekt/duhovne_pjesme_novi_sad_1966_017
[submodule "songs/018"]
	path = songs/018
	url = https://github.com/duhovniprojekt/duhovne_pjesme_novi_sad_1966_018
[submodule "songs/019"]
	path = songs/019
	url = https://github.com/duhovniprojekt/duhovne_pjesme_novi_sad_1966_019
[submodule "songs/020"]
	path = songs/020
	url = https://github.com/duhovniprojekt/duhovne_pjesme_novi_sad_1966_020
[submodule "songs/021"]
	path = songs/021
	url = https://github.com/duhovniprojekt/duhovne_pjesme_novi_sad_1966_021
[submodule "songs/022"]
	path = songs/022
	url = https://github.com/duhovniprojekt/duhovne_pjesme_novi_sad_1966_022
[submodule "songs/023"]
	path = songs/023
	url = https://github.com/duhovniprojekt/duhovne_pjesme_novi_sad_1966_023
[submodule "songs/084"]
	path = songs/084
	url = https://github.com/duhovniprojekt/duhovne_pjesme_novi_sad_1966_084
[submodule "songs/343"]
	path = songs/343
	url = https://github.com/duhovniprojekt/duhovne_pjesme_novi_sad_1966_343
[submodule "songs/024"]
	path = songs/024
	url = https://github.com/duhovniprojekt/duhovne_pjesme_novi_sad_1966_024
[submodule "songs/025"]
	path = songs/025
	url = https://github.com/duhovniprojekt/duhovne_pjesme_novi_sad_1966_025
[submodule "songs/026"]
	path = songs/026
	url = https://github.com/duhovniprojekt/duhovne_pjesme_novi_sad_1966_026
[submodule "songs/027"]
	path = songs/027
	url = https://github.com/duhovniprojekt/duhovne_pjesme_novi_sad_1966_027
[submodule "songs/028"]
	path = songs/028
	url = https://github.com/duhovniprojekt/duhovne_pjesme_novi_sad_1966_028
[submodule "songs/029"]
	path = songs/029
	url = https://github.com/duhovniprojekt/duhovne_pjesme_novi_sad_1966_029
[submodule "songs/030"]
	path = songs/030
	url = https://github.com/duhovniprojekt/duhovne_pjesme_novi_sad_1966_030
[submodule "songs/031"]
	path = songs/031
	url = https://github.com/duhovniprojekt/duhovne_pjesme_novi_sad_1966_031
[submodule "songs/032"]
	path = songs/032
	url = https://github.com/duhovniprojekt/duhovne_pjesme_novi_sad_1966_032
[submodule "songs/033"]
	path = songs/033
	url = https://github.com/duhovniprojekt/duhovne_pjesme_novi_sad_1966_033
[submodule "songs/034"]
	path = songs/034
	url = https://github.com/duhovniprojekt/duhovne_pjesme_novi_sad_1966_034
[submodule "songs/035"]
	path = songs/035
	url = https://github.com/duhovniprojekt/duhovne_pjesme_novi_sad_1966_035
[submodule "songs/036"]
	path = songs/036
	url = https://github.com/duhovniprojekt/duhovne_pjesme_novi_sad_1966_036
[submodule "songs/037"]
	path = songs/037
	url = https://github.com/duhovniprojekt/duhovne_pjesme_novi_sad_1966_037
[submodule "songs/038"]
	path = songs/038
	url = https://github.com/duhovniprojekt/duhovne_pjesme_novi_sad_1966_038
[submodule "songs/039"]
	path = songs/039
	url = https://github.com/duhovniprojekt/duhovne_pjesme_novi_sad_1966_039
[submodule "songs/040"]
	path = songs/040
	url = https://github.com/duhovniprojekt/duhovne_pjesme_novi_sad_1966_040
[submodule "songs/041"]
	path = songs/041
	url = https://github.com/duhovniprojekt/duhovne_pjesme_novi_sad_1966_041
[submodule "songs/042"]
	path = songs/042
	url = https://github.com/duhovniprojekt/duhovne_pjesme_novi_sad_1966_042
[submodule "songs/043"]
	path = songs/043
	url = https://github.com/duhovniprojekt/duhovne_pjesme_novi_sad_1966_043
[submodule "songs/044"]
	path = songs/044
	url = https://github.com/duhovniprojekt/duhovne_pjesme_novi_sad_1966_044
[submodule "songs/045"]
	path = songs/045
	url = https://github.com/duhovniprojekt/duhovne_pjesme_novi_sad_1966_045
[submodule "songs/046"]
	path = songs/046
	url = https://github.com/duhovniprojekt/duhovne_pjesme_novi_sad_1966_046
[submodule "songs/047"]
	path = songs/047
	url = https://github.com/duhovniprojekt/duhovne_pjesme_novi_sad_1966_047
[submodule "songs/048"]
	path = songs/048
	url = https://github.com/duhovniprojekt/duhovne_pjesme_novi_sad_1966_048
[submodule "songs/049"]
	path = songs/049
	url = https://github.com/duhovniprojekt/duhovne_pjesme_novi_sad_1966_049
[submodule "songs/050"]
	path = songs/050
	url = https://github.com/duhovniprojekt/duhovne_pjesme_novi_sad_1966_050
[submodule "songs/051"]
	path = songs/051
	url = https://github.com/duhovniprojekt/duhovne_pjesme_novi_sad_1966_051
[submodule "songs/052"]
	path = songs/052
	url = https://github.com/duhovniprojekt/duhovne_pjesme_novi_sad_1966_052
[submodule "songs/053"]
	path = songs/053
	url = https://github.com/duhovniprojekt/duhovne_pjesme_novi_sad_1966_053
[submodule "songs/054"]
	path = songs/054
	url = https://github.com/duhovniprojekt/duhovne_pjesme_novi_sad_1966_054
[submodule "songs/055"]
	path = songs/055
	url = https://github.com/duhovniprojekt/duhovne_pjesme_novi_sad_1966_055
[submodule "songs/056"]
	path = songs/056
	url = https://github.com/duhovniprojekt/duhovne_pjesme_novi_sad_1966_056
[submodule "songs/057"]
	path = songs/057
	url = https://github.com/duhovniprojekt/duhovne_pjesme_novi_sad_1966_057
[submodule "songs/058"]
	path = songs/058
	url = https://github.com/duhovniprojekt/duhovne_pjesme_novi_sad_1966_058
[submodule "songs/059"]
	path = songs/059
	url = https://github.com/duhovniprojekt/duhovne_pjesme_novi_sad_1966_059
[submodule "songs/060"]
	path = songs/060
	url = https://github.com/duhovniprojekt/duhovne_pjesme_novi_sad_1966_060
[submodule "songs/061"]
	path = songs/061
	url = https://github.com/duhovniprojekt/duhovne_pjesme_novi_sad_1966_061
