[submodule "songs/001"]
	path = songs/001
	url = https://github.com/duhovniprojekt/duhovne_pjesme_novi_sad_1966_001
[submodule "songs/002"]
	path = songs/002
	url = https://github.com/duhovniprojekt/duhovne_pjesme_novi_sad_1966_002
[submodule "songs/003"]
	path = songs/003
	url = https://github.com/duhovniprojekt/duhovne_pjesme_novi_sad_1966_003
[submodule "songs/004"]
	path = songs/004
	url = https://github.com/duhovniprojekt/duhovne_pjesme_novi_sad_1966_004
[submodule "songs/005"]
	path = songs/005
	url = https://github.com/duhovniprojekt/duhovne_pjesme_novi_sad_1966_005
[submodule "songs/006"]
	path = songs/006
	url = https://github.com/duhovniprojekt/duhovne_pjesme_novi_sad_1966_006
[submodule "songs/007"]
	path = songs/007
	url = https://github.com/duhovniprojekt/duhovne_pjesme_novi_sad_1966_007
[submodule "songs/008"]
	path = songs/008
	url = https://github.com/duhovniprojekt/duhovne_pjesme_novi_sad_1966_008
[submodule "songs/009"]
	path = songs/009
	url = https://github.com/duhovniprojekt/duhovne_pjesme_novi_sad_1966_009
[submodule "songs/010"]
	path = songs/010
	url = https://github.com/duhovniprojekt/duhovne_pjesme_novi_sad_1966_010
[submodule "songs/011"]
	path = songs/011
	url = https://github.com/duhovniprojekt/duhovne_pjesme_novi_sad_1966_011
[submodule "songs/011a"]
	path = songs/011a
	url = https://github.com/duhovniprojekt/duhovne_pjesme_novi_sad_1966_011a
[submodule "songs/012"]
	path = songs/012
	url = https://github.com/duhovniprojekt/duhovne_pjesme_novi_sad_1966_012
[submodule "songs/013"]
	path = songs/013
	url = https://github.com/duhovniprojekt/duhovne_pjesme_novi_sad_1966_013
[submodule "songs/014"]
	path = songs/014
	url = https://github.com/duhovniprojekt/duhovne_pjesme_novi_sad_1966_014
[submodule "songs/015"]
	path = songs/015
	url = https://github.com/duhovniprojekt/duhovne_pjesme_novi_sad_1966_015
[submodule "songs/016"]
	path = songs/016
	url = https://github.com/duhovniprojekt/duhovne_pjesme_novi_sad_1966_016
[submodule "songs/017"]
	path = songs/017
	url = https://github.com/duhovniprojekt/duhovne_pjesme_novi_sad_1966_017
[submodule "songs/018"]
	path = songs/018
	url = https://github.com/duhovniprojekt/duhovne_pjesme_novi_sad_1966_018
[submodule "songs/019"]
	path = songs/019
	url = https://github.com/duhovniprojekt/duhovne_pjesme_novi_sad_1966_019
[submodule "songs/020"]
	path = songs/020
	url = https://github.com/duhovniprojekt/duhovne_pjesme_novi_sad_1966_020
