[submodule "songs/001"]
	path = songs/001
	url = https://github.com/duhovniprojekt/duhovne_pjesme_novi_sad_1966_001
[submodule "songs/002"]
	path = songs/002
	url = https://github.com/duhovniprojekt/duhovne_pjesme_novi_sad_1966_002
